// Font
$font-primary: 'Roboto',
sans-serif;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$font-black: 900;
// Color Palette
$battleship-grey: #616f81;
$beige: #f1e5d8;
$black: #000000;
$blueberry: #7d8e9e;
$bluegrey: #8ba4bb;
$bluey-grey: #919ab1;
$cool-green: #32b164;
$coral: #fd6041;
$dark-mint: #3fc975;
$dark-sky-blue: #43bee0;
$divider-color: rgba(215, 199, 173, 0.3);
$duck-egg-blue: #aff7f9;
$greeny-blue: #3bc0c3;
$gunmetal: #404759;
$light-gold: #fde55e;
$macaroni-and-cheese: #e3ba2a;
$pale-grey-two: #eef3f7;
$pale-grey-three: #dae4e7;
$pale-grey-four:#edf1f2;
$placeholder-color:rgba(4, 4, 5, 0.3);
$silver: #b7bec1;
$silver-two: #dbe3e5;
$silver-three: #dce1e3;
$slate-grey: #566471;
$slate-two:#455462;
$steel: #7e8b98;
$sickly-yellow: #e4ca3a;
$watermelon: #f85559;
$weird-green: #4dd984;
$white: #ffffff;