<div class="topbar">
    <div class="icon-graduation-cap logo">

    </div>
    <div class="spandiv">
        <span class="span">Calchecth High School</span>
    </div>

    <div class="profile">
        <div class="icon-bell float-left profile-icon"></div>
        <div class="icon-github float-left profile-icon"></div>
        <div class="profile-name float-left">
            <span class="profile-span">Afzal</span>
        </div>
        <div class="icon-circle-down float-left profile-icon"></div>
    </div>
</div>